*{
    box-sizing: content-box;
    list-style: none;
    font-family: serif Arial, Helvetica, sans-serif;
}
nav {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
width: 100%;
height: 6.5vh;
box-shadow: 0 0.07px 0 #666;

}
ul{
    list-style: none;
    display: flex;
    padding: 0 100px;
}
li {
    display: flex;
    margin: 0 20px;
    cursor: pointer;
}


article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 94vh;
}

button{
    background-color: #387ed1;
    padding: 10px 30px;
    color: whitesmoke;
    border-color: none;
}